{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>About me</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href={% url 'index' %}>Home</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#">About me</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-me pb-top">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="about-me-img mb-30" style="text-align: center;">
                            <img src="{% static 'img/gallery/17044461661287.jpeg' %}" alt="" style="width: 50%;
                            text-align: justify;
                            border-radius: 15px;">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="about-me-caption">
                            <h2>I Develop One Application</h2>
                            <li><h3>Brighter Days:</h3></li>
                            <ol>
                                <li>1. <a style="color: blue;" href="https://play.google.com/store/apps/details?id=com.brighterdays.app&pcampaignid=web_share"> Click Hear</a> To Get The Application From Playstore.</li>
                                <li>2. Empowering self-discovery, BrighterDays helps you rewrite your story, transforming each tracked day into a chapter of strength.
                                </li>
                                <li>3. Illuminating the path to self-discovery and healing.</li>
                                <li>4. Transforming pain into progress, one positive choice at a time.</li>
                                <li>5. Every day is a step towards healing. Brighter Days helps you take those steps.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="about-area section-paddingt30">
            <div class="container">
                <div class="row ">
                    <h2 style="margin-bottom: 20px;
                    margin-bottom: 20px;
                    text-decoration-thickness: from-font;
                    font-style: oblique;
                    ">What I Know</h2>
                    <div class="col-lg-12">
                        <div class="about-caption mb-50">
                            <h5><b>Software Development</b></h5>
                            <p class="pera1">
                            Transforming concepts into code, we navigate the binary seas to build software solutions that transcend functionality, they elevate experiences. In the realm of zeros and ones, we craft digital symphonies—where code is poetry and innovation is our language.
                            <h5><b>Problem Solving</b></h5>
                            <p>Navigating the labyrinth of issues, problem-solving is the compass that leads us to creative solutions, turning complexity into clarity. In the dance of challenges, problem-solving is the melody that turns obstacles into opportunities, guiding us towards innovation and growth.</p>
                            <h5><b>Github</b></h5>
                            <p>GitHub Repositories: Orchestrating solutions in the coding symphony, where each commit is a note in the melody of problem-solving. In the GitHub universe, repositories are the canvases where problems are painted as challenges, and code is the brush that transforms them into solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="client-comments section-paddingt30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h2>Achievements</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="latest-blog-area mb-100">
                <div class="container">
                    <div class="custom-row">
                        <div class="blog-active">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="blog-wrapper">
                                        <div class="blog-inner">
                                            <div class="blog-top">
                                                <div class="person-img">
                                                </div>
                                                <div class="comment-person">
                                                    <img src="{% static 'img/gallery/quality.png' %}" alt="" style="position: relative; height: 50px; padding-bottom:10px"/> 
                                                    <a href={% url 'resume' %}><h2>Experience</h2></a>
                                                    <span>1 Year</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="blog-wrapper">
                                        <div class="blog-inner">
                                            <div class="blog-top">
                                                <div class="person-img">
                                                </div>
                                                <div class="comment-person">
                                                    <img src="{% static 'img/gallery/project-management.png' %}" alt="" style="position: relative; height: 47px; padding-bottom:10px" />
                                                    <h2>Projects</h2>
                                                    <span>1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="blog-wrapper">
                                        <div class="blog-inner">
                                            <div class="blog-top">
                                                <div class="person-img">
                                                </div>
                                                <div class="comment-person">
                                                    <img src="{% static 'img/gallery/profile.png' %}" alt="" style="position: relative; height: 44px; padding-bottom:10px" />
                                                    <a href={% url 'resume' %}><h2>Resume</h2></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="latest-blog-area">
                <div class="container">
                    <div class="custom-row">
                        <div class="blog-active">
                            <!-- single-items -->
                            <div class="col-xl-4">
                                <div class="blog-wrapper">
                                    <div class="blog-inner">
                                    <div class="blog-top">
                                        <div class="person-img">
                                        </div>
                                        <div class="comment-person">
                                            <img src="{% static 'img/gallery/quality.png' %}" alt="" style="position: relative; height: 50px; padding-bottom:10px"/> 
                                            <a href={% url 'resume' %}><h2>Experience</h2></a>
                                            <span>1 Year</span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single-items -->
                            <div class="col-xl-4">
                                <div class="blog-wrapper">
                                    <div class="blog-inner">
                                    <div class="blog-top">
                                        <div class="person-img">
                                        </div>
                                        <div class="comment-person">
                                            <img src="{% static 'img/gallery/project-management.png' %}" alt="" style="position: relative; height: 47px; padding-bottom:10px" />
                                            <h2>Projects</h2>
                                            <span>1</span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single-items -->
                            <div class="col-xl-4">
                                <div class="blog-wrapper">
                                    <div class="blog-inner">
                                    <div class="blog-top">
                                        <div class="person-img">
                                        </div>
                                        <div class="comment-person">
                                            <img src="{% static 'img/gallery/profile.png' %}" alt="" style="position: relative; height: 44px; padding-bottom:10px" />
                                            <a href={% url 'resume' %}><h2>Resume</h2></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
{% endblock %}
